{% extends "base_template.html" %}

{% block add_content %}
<!-- <div class="segment">
  <div class="container" style="margin:1.5em 1.5em 1.5em 325px"> -->
  <div class="ui visible inverted left vertical sidebar menu">
    <a class="item">
      <i class="user icon"></i>
      ADMIN
    </a>
    <a class="item" href={% url 'app:manageGroup' %}>
      {% csrf_token %}
      <i class="block layout icon"></i>
      Manage Groups
    </a>
    <a class="item" href={% url 'app:manageStudent' %}>
      <i class="smile icon"></i>
      Manage Students
    </a>
  </div>
  <!-- </div>
</div> -->

<!-- <div class="segment"> -->
  <div class="pusher">
    <div class="ui basic segment">
      {% block admin_content %}
      {% endblock %}
    </div>
  </div>
<!-- </div> -->
{% endblock %}
