{% extends "base_template.html" %}

{% block Theme_css %}
<link rel="stylesheet" href="../static/css/login_page.min.css">
{% endblock %}

{% block intro_Header %}
    <header class="intro">
      <div class="grad"></div>
      <div class="header">
        <div>Data<span>Training</span></div>
      </div>
      <br>
      <div class="login">
          <input type="text" placeholder="username" name="user"><br>
          <input type="password" placeholder="password" name="password"><br>
          <input type="submit" value="Login">
      </div>
    </header>
{% endblock %}
