{% extends "base_template.html" %}

{% block content %}
  <table class="table table-responsive">
    <thead class="thead-inverse">
      <tr>
        <th>username</th>
        <th>password</th>
        <th>name</th>
        <th>queue</th>
        <th>memory</th>
      </tr>
    </thead>
    <tbody>
      {% for std in stds %}
      <tr>
        <td>{{ std.username }}</td>
        <td>{{ std.password }}</td>
        <td>{{ std.name }}</td>
        <td>{{ std.queue }}</td>
        <td>{{ std.memory }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
