{% extends "base_template.html" %}

{% block navigation %}
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
              <ul class="nav navbar-nav">
                  <li>
                    <span>{{ name }} &nbsp;&nbsp;&nbsp;</span>
                  </li>
                  <li>
                    <form action="{% url 'app:doLogout' %}" method="post">{% csrf_token %}
                      <input type="submit" value="logout"></input>
                    </form>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
{% endblock %}
