<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PANTIP - DATA TRAINING</title>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">

  <!-- CSS -->
  <!-- <link href="../static/css/style.min.css" rel="stylesheet"> -->

  <!-- LESS -->
  <!-- <link type="text/css" rel="stylesheet/less" href="../static/less/style.less" /> -->

</head>

    <!-- Navigation -->
    {% block navigation %}
    {% endblock %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- //contact-page -->
    {% block content %}
    {% endblock %}

    <!-- JavaScript -->
    <!-- <script src="js/style.min.js"></script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script>

</body>

</html>
