{% extends "base_navigation_template.html" %}


{% block content %}
    <section>
        <h2 class="ui center aligned icon header">
          <i class="circular settings icon"></i>
          Select the forum group!
        </h2>

        <div class="ui three column very relaxed grid">
          <div class="row">
           
            <form action="{% url 'app:training' %}" method="post">
            {% csrf_token %}
              <div class="center-groupbtn">
                <button class="massive ui activate yellow button">Group 1</button>
              </div>
            </form>
                               
            <form action="{% url 'app:training' %}" method="post">
            {% csrf_token %}
              <div class="center-groupbtn">
                <button class="massive ui disabled yellow button">Group 2</button>
              </div>
            </form>             
                
            <form action="{% url 'app:training' %}" method="post">
            {% csrf_token %}
              <div class="center-groupbtn">
                <button class="massive ui active yellow button">Group 3</button>
              </div>
            </form>

            <form action="{% url 'app:training' %}" method="post">
            {% csrf_token %}
              <div class="center-groupbtn">
                <button class="massive ui active yellow button">Group 4</button>
              </div>
            </form>

            <form action="{% url 'app:training' %}" method="post">
            {% csrf_token %}
              <div class="center-groupbtn">
                <button class="massive ui active yellow button">Group 5</button>
              </div>
            </form>
                  
          </div>
        </div>
    </section>

{% endblock %}
