{% extends "base_navigation_template.html" %}

{% block content %}
    <section>
        <h1 class="ui center aligned icon header" style="color:#F5F5F5">
          <img src="../static/images/pantip-icon.png" style="height: 17%; width: 17%">
            <div class="header" style="padding-top: 20px">
            Select the forum group!
            </div>
        </h1>

        <div class="ui three column grid">
          <div class="row">
            <div class="column">
              <form action="{% url 'app:training' %}" method="post">
              {% csrf_token %}
                <div class="center-groupbtn">
                  <button class="massive ui inverted blue button" style="color: #186199">Group 1</button>
                </div>
              </form>
            </div>
                
            <div class="column">                     
              <form action="{% url 'app:training' %}" method="post">
              {% csrf_token %}
                <div class="center-groupbtn">
                  <button class="massive ui inverted blue button">Group 2</button>
                </div>
              </form> 
            </div>

            <div class="column">      
              <form action="{% url 'app:training' %}" method="post">
              {% csrf_token %}
                <div class="center-groupbtn">
                    <button class="massive ui disabled inverted blue button">Group 3</button>
                </div>
              </form>
            </div>
          </div>
        </div>
    </section>

{% endblock %}
